@import '~node_modules/modern-normalize/modern-normalize.css';

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
}