<section>
  <div class="container">
    <h1 class="visually-hidden">Top Films</h1>
    <ul class="films__list">
      <li class="films__item">
        <a href="" class="films__link">
          <div class="films__img-container">
            <img
              src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/space-movie-poster-design-template-18133e937d93002c68b4649ea234d75f_screen.jpg?ts=1636996611"
              alt=""
              class="films__img"
            />
          </div>
          <h2 class="films__title">The Astronaut</h2>
          <p class="films__description">Drama, Action | 2020<span class="films__rating">10.0</span></p>
        </a>
      </li>
      <li class="films__item">
        <a href="" class="films__link">
          <div class="films__img-container">
            <img
              src="https://i.pinimg.com/originals/11/1c/5c/111c5c9ad99661af2d80e38948cf29d8.jpg"
              alt=""
              class="films__img"
            />
          </div>
          <h2 class="films__title">Interstellar</h2>
          <p class="films__description">Drama, Action | 2020<span class="films__rating">10.0</span></p>
        </a>
      </li>
      <li class="films__item">
        <a href="" class="films__link">
          <div class="films__img-container">
            <img
              src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/space-movie-poster-design-template-18133e937d93002c68b4649ea234d75f_screen.jpg?ts=1636996611"
              alt=""
              class="films__img"
            />
          </div>
          <h2 class="films__title">The Astronaut</h2>
          <p class="films__description">Drama, Action | 2020<span class="films__rating">10.0</span></p>
        </a>
      </li>
      <li class="films__item">
        <a href="" class="films__link">
          <div class="films__img-container">
            <img
              src="https://i.pinimg.com/originals/11/1c/5c/111c5c9ad99661af2d80e38948cf29d8.jpg"
              alt=""
              class="films__img"
            />
          </div>
          <h2 class="films__title">Interstellar</h2>
          <p class="films__description">Drama, Action | 2020<span class="films__rating">10.0</span></p>
        </a>
      </li>
    </ul>
  </div>
</section>
