<!-- <header>Library Header</header> -->
<header class="header__library">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a href="./index.html">
          <img class="logo__img" src="./images/film.png" alt="logo of movie" />
          <span class="logo__title">Filmoteka</span>
        </a>
      </div>
      <div class="nav__list">
        <ul class="navigation">
          <li class="navigation__item">
            <a class="navigation__link link" href="./index.html">Home</a>
          </li>
          <li
            class="navigation__item navigation__margin navigation__item--accent"
          >
            <a class="navigation__link link" href="./library.html"
              >My Library</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="header__buttons">
      <button type="button" class="btn watched btn-margin">Watched</button>
      <button type="button" class="btn queue">Queue</button>
    </div>
  </div>
</header>
