<div class="backdrop is-hidden" data-modal-team>
  <div class="modal">
    <button class="modal-btn" data-modal-team-close>
      X
      <svg class="modal-close-icon" width="18" height="18">
        <use href="./images/icons.svg#icon-close-tag-x"></use>
      </svg>
    </button>
    <strong class="modal-header">Our developers dream-team</strong>

    <ul class="team__list">
      <li class="team__item">
        <div class="team__block">
          <h3 class="team__title">Yurii Zarytskii</h3>
          <p class="team__field">Team-lead</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__block">
          <h3 class="team__title">Iryna Iargina</h3>
          <p class="team__field">Scrum-master</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__block">
          <h3 class="team__title">Olesia Sidolaka</h3>
          <p class="team__field">Greate developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__block">
          <h3 class="team__title">Svitlana Synytsia</h3>
          <p class="team__field">Awesome developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__block">
          <h3 class="team__title">Oleksandr Oleksandruk</h3>
          <p class="team__field">Guy who worked on this modal window</p>
        </div>
      </li>
    </ul>
  </div>
</div>
