.container-header,
.container-header-library {
  position: relative;
}

.theme-container {
  position: absolute;
  top: 20%;
  right: 16%;
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 5rem;
  border: 2px solid $white-color;
  cursor: pointer;
}

.theme-toggler {
  position: absolute;
  top: 50%;
  left: 0.03rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: $white-color;
  transform: translate(0, -50%);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark {
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e0e00,
    #1f1c18
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e0e00, #1f1c18);
  color: $white-color;
}

.dark-toggler-container {
  border-color: #8e0e00;
}

.dark-toggler {
  background-color: #bf1f1f;
  transform: translate(105%, -50%);
}
