footer {
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
  justify-content: center;
  gap: 10px;

  height: 100px;
  width: 320px;

  color: #545454;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 400;

  .footer__team--button {
    text-decoration: underline;
    color: currentColor;
    // background-color: #f7f7f7;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .footer__content {
    width: auto;

    font-size: 16px;
  }
}

.footer_developers--link {
  display: flex;
  align-items: center;
}

/*============================================== 
                Pulsing Heart
==============================================*/

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

// div {
//   background-color: red;
//   width: 50px;
//   height: 50px;
//   animation: heartbeat 1s infinite;
// }

.icon-love {
  ::before {
    box-sizing: border-box;
  }

  width: 20px;
  height: 20px;

  margin: 0 10px;
  animation: heartbeat 1s infinite;
}
