.container-header {
  padding-top: 4rem;
  padding-bottom: 9rem;

  @media screen and (min-width: 768px) {
    padding-bottom: 8rem;
  }
}

.header {
  height: 230px;
  margin-bottom: 2rem;
  background: rgba(0, 0, 0, 0.56);
  background-image: url(../images/main-header/sm.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/main-header/sm@2x.jpg);
  }

  @media screen and (min-width: 321px) {
    background-image: url(../images/main-header/md.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/main-header/md@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    height: 216px;
    margin-bottom: 6rem;
  }

  @media screen and (min-width: 788px) {
    background-image: linear-gradient(
        63deg,
        rgba(0, 0, 0, 0.40689779329700626) 100%,
        rgba(0, 0, 1, 0.1632003143054097) 100%
      ),
      url(../images/main-header/lg.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/main-header/lg@2x.jpg);
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.4rem;
  @media screen and (min-width: $tablet) {
    align-items: center;
    margin-bottom: 4rem;
  }
}

.logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  background-color: none;

  @media screen and (min-width: 1200px) {
    gap: 1rem;
  }

  &__img {
    stroke: $white-color;

    // transition: fill $transition-duration $transition-timing-function;
  }
  &__title {
    display: none;
    transition: color $transition-duration $transition-timing-function,
      text-shadow $transition-duration $transition-timing-function;
    @media screen and (min-width: 767px) {
      display: inline;
      font-weight: 500;
      font-size: 3rem;
      line-height: 1.17;
      color: $white-color;
    }
  }
}

.navigation {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.166;
  gap: 4rem;
  color: $white-color;
  &__current-page {
    position: relative;
  }
  &__current-page::after {
    position: absolute;
    display: block;
    bottom: -3px;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #ff001b;
  }
  &__link {
    transition: color $transition-duration $transition-timing-function,
      text-shadow $transition-duration $transition-timing-function;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    text-shadow: 0px 2px 17px rgba(255, 107, 1, 0.6);
  }
}

.input__block {
  width: 280px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 0.5px solid $white-color;
  padding: 0 0 0.4rem 0;
  color: $white-color;
  font-weight: 400px;
  font-size: 1.4rem;
  transition: border-bottom-color $transition-duration
      $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  @media screen and (min-width: 767px) {
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    width: 394px;
  }
}

::placeholder {
  color: $white-color;
}
.search {
  display: flex;
  justify-content: center;

  &__form {
    position: relative;
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    background: inherit;
    border: none;
  }
  &__icon {
    stroke: $white-color;
  }
  // &__icon:hover {
  //   stroke: $accent-color;
  // }
}

.logo:hover .logo__title,
.logo:hover .logo__img {
  color: $accent-color;
  text-shadow: 0px 2px 17px rgba(255, 107, 1, 0.6);
  stroke: currentColor;

  // text-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.input__block:hover,
.input__block:focus {
  border-bottom-color: $accent-color;
  box-shadow: 0 5px 5px -2px rgba(255, 107, 1, 0.6);

  // text-shadow: 0px 2px 17px rgba(255, 107, 1, 0.6);
}
